# Dependencies
node_modules

# Build output
dist
dist-isolation

# Environment variables
.env
.env.local
.env.*.local

# Editor / System
.DS_Store
Thumbs.db
.vscode/
# Temp reference files
data-quest.zip
data-quest/

.firebase/emulator-data/
firestore-debug.log
ui-debug.log
firebase-debug.log
